
main{
	background: url(../pics/musicFestivalBG.jpg) fixed no-repeat;
}
.container{
	background: rgba(255,255,255,.8);
	padding-left:0px !important;
	padding-right:0px !important;
	font-family: sans-serif;
}
.banner img{
	max-width:100%;
	text-align: center;
}
#map{
	height:400px;
}
.mapContainer{
	text-align: center;
}
.mapContainer h4{
	font-family: sans-serif;
}
.sectionOne{
	/*margin-top: 15px;
	margin-bottom: 15px;*/
	background:rgba(246, 254, 205, 0.6);
	padding-top:15px;
	padding-bottom:15px;
}

#theArtists{
	width:100%;
	margin-top: 4px;
}

#theCountries{
	width: 100%;
}

.bottomSection{
	/*border:solid blue;*/
	background: white;
}
.radioSection{
	text-align: center;
}

.radio{
	height:450px;
	/*border:solid 1px #E03125;*/
}
.plotsSection{
	/*border:solid limegreen;*/
}

.header, .footer{
	text-align: center;
}


.header .tripleJLogo{
	float: left;
	margin-top: 10px;
}
.row{
	margin-left:0px !important;
	margin-right:0px !important;
	padding-bottom:10px !important;
}
.headerText h1{
	color:#E03125;
	text-shadow:2px 2px rgba(0, 0, 0);
	padding-top: 20px;
}
.headerText button{
	background:#E03125;
	float: left;
	color:white;
	margin-top: 30px;
    margin-left: 20px;
    padding: 10px;
    position: relative;
}
.headerText button:hover{
	background: black;
}
.headerText button img{
	height:30px;
	margin-right:10px;
	vertical-align: middle;
}

#buttonText{
	vertical-align: middle;
}
.red{
	color:#E03125;
}

/*flickity*/
/* external css: flickity.css */

* { box-sizing: border-box; }



.carousel-cell {
  width: 100%;
  height: 500px;
  margin-right: 10px;
  border-radius: 5px;
  counter-increment: gallery-cell;
}

#songList{
  max-height:400px;
  overflow-y: auto;
}
.gifs img{
	float:left;
	height:200px;
	width:20%;
}
.foot{
	background-color:black;
}
.footer p{
	color:white;
	padding-top:10px;
}
.flickity-page-dots{
	bottom:10px !important;
}
.flickity-button{
	background:#333 !important;
}
.flickity-button-icon{
	color:white;
}
.section-content-ul{
	margin-left:-40px;
}

.section-content-ul li{
	list-style:none;
	margin-bottom: 10px;
}
.flickity-prev-next-button{
	height:30px !important;
	width: 30px !important;
}
.returnYear{
	text-align: center;
}
.returnYear h2{
	background:#E03125;
	color:white;
}
.returnArtistSong{
	text-align: center;
}
.returnArtistSong h2{
	color:white;
}
.returnArtistSong h4{
	font-style: italic;
	color: white;
}
.section-content-ul .row{
	padding:0px !important;
	background-color: rgba(0, 0, 0, 0.6);
	padding-top: 10px !important;
	/*padding-bottom:10px !important;*/
}
.noHitText{
	font-size: 36px;
	padding:10px 15px;
	background-color: rgba(0, 0, 0, 0.6);
	color:white;
}

